@page "/"
@using HelpersLib
@using Newtonsoft.Json
@using SharedContracts.DataPointCollections
@using SharedContracts.DataPoints
@using Smarthome.Web.Controls
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Charts
@using System.Diagnostics

<PageTitle>Index</PageTitle>
<h2>Photovoltaik</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            <CircularGaugeControl DataPoint="@PVDataPoints.PVProduction" Color="#009900"></CircularGaugeControl>
        </div>
        <div class="col-4">
            <CircularGaugeControl DataPoint="@PVDataPoints.GridSupply" Color="#999900"></CircularGaugeControl>
        </div>
        <div class="col-4">
            <CircularGaugeControl DataPoint="@PVDataPoints.GridDemand" Color="#990000"></CircularGaugeControl>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <HistoryControl DataPoints="new List<DecimalDataPoint>{PVDataPoints.PVProduction, PVDataPoints.GridSupply, PVDataPoints.GridDemand, ChargingDataPoints.CurrentChargingPower}" Label="Photovoltaik"></HistoryControl>
        </div>
    </div>
    <h2>Ladesäule</h2>
    <div class="row">
        <div class="col">
            <CircularGaugeControl DataPoint="@ChargingDataPoints.CurrentChargingPower" Color="#009900"></CircularGaugeControl>
        </div>
        <div class="col">
            <CircularGaugeControl DataPoint="@ChargingDataPoints.ConsumptionActiveSession" Color="#009900"></CircularGaugeControl>
        </div>
        <div class="col">
            <CircularGaugeControl DataPoint="@ChargingDataPoints.EffectiveMaximumChargingCurrency" Color="#009900"></CircularGaugeControl>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <DataValueControl DataPoint="@ChargingDataPoints.CharingOverallTotal" Label="Ladung Gesamt"></DataValueControl>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusControl DataPoint="@ChargingDataPoints.KebaStatus" Label="Status" Status="@kebaStatus"></StatusControl>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@*<p>Erzeugung: @dataPoints.PVProduction.CurrentValue</p>
<p>Einspeißung: @dataPoints.GridSupply.CurrentValue</p>
<p>Bezug: @dataPoints.GridDemand.CurrentValue</p>*@

<p>Zeit: @DateTime.Now</p>


@code {
    private Dictionary<int, string> kebaStatus = new() { { 0, "Warten" }, { 1, "Nicht bereit" }, { 2, "Bereit" }, { 3, "Laden" }, { 4, "Fehler" }, { 5, "Unterbrochen" } };
    public PVDataPoints PVDataPoints = new PVDataPoints();
    public ChargingDataPoints ChargingDataPoints = new ChargingDataPoints();

    private Timer refreshTimer;

    protected override void OnInitialized()
    {
        refreshTimer = new Timer(Refresh, null, 1000, 1000);
    }

    //private void UpdateManualChargingCurrency()
    //{
    //    chargingController.MinCharging = dataPoints.MinimumCharging.CurrentValue;
    //    chargingController.AutoCharging = dataPoints.PVCharging.CurrentValue;
    //    chargingController.ManualChargingCurrency = dataPoints.CarChargingManualCurrency.CurrentValue;
    //}

    //private void RangeStartChange(Syncfusion.Blazor.Inputs.SliderChangeEventArgs<double> args)
    //{
    //    if (dataPoints.CarChargingManualCurrency.CurrentValue != (int)args.Value)
    //    {
    //        dataPoints.CarChargingManualCurrency.CurrentValue = (int)args.Value;
    //    }
    //}

    private void Refresh(object? state)
    {
        try
        {
            HttpClient Http = new HttpClient();
            var jsonString = Http.GetStringAsync($"http://localhost:5003/readSensorsdata").Result;
            PVDataPoints = JsonConvert.DeserializeObject<PVDataPoints>(jsonString);
            PVDataPoints.PVProduction.History.DataHistory.RemoveAt(0);
            PVDataPoints.GridDemand.History.DataHistory.RemoveAt(0);
            PVDataPoints.GridSupply.History.DataHistory.RemoveAt(0);
            jsonString = Http.GetStringAsync("http://localhost:5004/readdata").Result;
            ChargingDataPoints = JsonConvert.DeserializeObject<ChargingDataPoints>(jsonString);
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ConsoleHelpers.PrintErrorMessage("Failed to read data from service, Error: " + ex.Message);
        }
    }

    public void Dispose()
    {
        refreshTimer?.Dispose();
    }
}


